.container{
    background-color: black;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgb(9, 32, 63) 0%, rgb(83, 120, 149) 100%);
    position: relative;
}

.header{
    display: flex;
    position:absolute;
    top: 0;
    right: 0;
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 10%;
    align-items: center;
    position: relative;
}

.avatarImg{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin:2%;
}

.name{
    color: white;
    margin: 2%;
    font-weight: bold;
}

.text{
    color: white;
    margin: 2%;
    font-weight: 400;
    text-decoration: none;
}

.Button{
    background-color: red;
    padding: 10px;
    width: 10%;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    position:absolute;
    right: 10%;
}

.body{
    width: 100vw;
    border: 1px solid red;
    height: 91%;
    position: relative;
}

.chats{
    position: absolute;
    border: 1px solid blue;
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    overflow: hidden;
}

.currentChat{
    border:1px solid green;
    position: absolute;
    right: 0;
    width: 75%;
    height: 100%;
}

.Input{
    border-radius: 5px;
    margin: 10px;
    width: 30%;
    padding: 8px;
}

.Button {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: fit-content;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 5%;
  }
  
  .Button:hover,
  
  .Button:focus {
    background-color: #F082AC;
  }

  .users{
    overflow-y: scroll;
    overflow: hidden;
    border: 1px solid red;
    height: 89%;
  }

  .user{
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    position: relative;
  }

  .userInfo{
    display: inline-block;
    margin: 1%;
  }

  .addAndDelete{
    position: absolute;
    right: 20%;
  }

  .iconPlus{
    color: green;
    font-size: 30px;
    background-color: white;
    border-radius: 25%;
  }


