.container{
    background-color: black;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgb(9, 32, 63) 0%, rgb(83, 120, 149) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box{
    width: 35%;
    height: 55%;
    background-color: rgb(29, 27, 27);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Input{
    border-radius: 5px;
    margin: 10px;
    width: 50%;
    padding: 8px;
}
 
.Button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Button:hover,

.Button:focus {
  background-color: #F082AC;
}

.avatarImgNotSelected{
    width: 50px;
    height: auto;
    margin: 10px;
    border-radius: 25px;
    border: 2px solid white;
}

.avatarImgSelected{
    width: 50px;
    height: auto;
    margin: 10px;
    border-radius: 25px;
    border: 2px solid red;
}

.bigText{
    color: white;
    font-size: 30px;
    font-weight: bold;
}