
.containerOpen{
    width: 50%;
    height: 50%;
    overflow-y: scroll;
    overflow: hidden;
    border: 5px solid rgb(45, 42, 42);
    border-radius: 15px;
    background-color: rgb(71, 71, 71);
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 30px;
    opacity:1;
}

.containerClose{
    width: 50%;
    height: 50%;
    overflow-y: scroll;
    overflow: hidden;
    border: 5px solid rgb(45, 42, 42);
    border-radius: 15px;
    background-color: rgb(71, 71, 71);
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 30px;
    opacity:0;
}

.bigText{
    color: white;
    font-weight: bold;
}

.text{
    color: white;
}

.user{
    /* border: 1px solid red; */
    height: 70%;
    padding: 20px;
    position: relative;
}

.cross{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
}